In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [6]:
from sklearn.preprocessing import LabelEncoder
dataread=pd.read_csv('housetrain.csv')
df=pd.DataFrame(dataread[['MSSubClass','LotArea','OverallQual','OverallCond','YearBuilt','BedroomAbvGr','MoSold','YrSold','SalePrice']])
df.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,BedroomAbvGr,MoSold,YrSold,SalePrice
0,60,8450,7,5,2003,3,2,2008,208500
1,20,9600,6,8,1976,3,5,2007,181500
2,60,11250,7,5,2001,3,9,2008,223500
3,70,9550,7,5,1915,3,2,2006,140000
4,60,14260,8,5,2000,4,12,2008,250000

In [22]:
X = pd.DataFrame(df.iloc[:, 0:8].values)
y = pd.DataFrame(df.iloc[:, 8:9].values)

In [8]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.35, random_state = 1)

c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [11]:
y_pred = classifier.predict(X_test)
print (y_pred)

[190000 155000 128000 140000 110000 215000 250000 130000 250000 140000
 145000 110000 155000 280000 142500 100000 145000 100000 143000 140000
 190000 128000 212000 325000 110000 140000 140000 190000 290000 140000
 105000 130000 135000 140000 108000 250000 110000 100000 200000 140000
 128000 110000 100000 140000 190000 110000 140000 214000 215000 235000
 123000 140000 127000 192000 275000 110000 190000 155000 100000 155000
 127000 250000 110000 140000 135000 135000 140000 260000 142500 155000
 145000 140000 250000 122000 120000 196000 190000 140000 315000 140000
 155000 135000 140000 128000 155000 116000 155000 142500 190000 190000
 130000 142500 112000 145000 110000 100000 100000 135000 155000 190000
 190000 143000 128000 145000 120000 140000 190000 122000 127000 192000
 140000 116000 128000 214000 250000 190000 214000 127000 145000 235000
 110000 250000 200000 122000 130000 142500 325000 110000 160000 190000
 190000 110000 100000 145000 100000 190000 250000 239000 142500 155000
 140000 200000 135000 140000 110000 190000 130000 190000 250000 143000
 190000 155000 143000 190000 140000 250000 110000 190000 128000 130000
 110000 100000 140000 140000 140000 110000 155000 145000 200000 140000
 190000 140000 250000 215000 190000 140000 155000 190000 190000 110000
 108000 190000 190000 116000 214000 127500 190000 250000 127000 100000
 120000 145000 140000 155000 128000 250000 190000 135000 135000 100000
 155000 200000 140000 155000 149000 143000 190000 142500 325000 160000
 190000 120000 140000 145000 215000 250000 139000 100000 190000 127500
 250000 127500 130000 250000 127000 100000 192000 127500 140000 127500
 100000 190000 128000 128000 325000 200000 250000 108000 128000 250000
 235000 122000 145000 200000 112000 155000 130000 116000 142500 140000
 135000 149000 142500 127000 112000 116000 155000 100000 315000 110000
 192000 190000 190000 130000 140000 142500 110000 140000 155000 140000
 127500 190000  87000 190000 155000 130000 130000 100000 127000 135000
 128000 130000 100000 145000 127500 142500 155000 100000 250000 108000
 110000 215000 127500 140000 250000 179900 190000 190000 145000 135000
 142500 190000 120000 155000 143000 143000 128000 145000 127500 142500
 140000 155000 127000 250000 155000 110000 250000 190000 179900 142500
 190000 155000 105000 127500 140000 250000 140000 190000 128000 155000
 190000 239000 190000 214000 190000 145000 130000 100000 190000 190000
 214000 143000 100000 140000 100000 145000 110000 145000 325000 100000
 196000 214000 250000 110000 100000 112000 155000 148000 110000 250000
 140000 250000 140000 214000 200000 250000 140000 130000 142500 235000
 135000 140000 214000 140000 239000 200000 112000 140000 140000 325000
 130000 100000 230000 110000 120000 290000 140000 325000 140000 140000
 250000 143000 190000 214000 127500 140000 127000 215000 145000 235000
 250000 239000 250000 140000 155000 190000 110000 135000 250000 185000
 135000 155000 190000 122000 100000 143000 160000 108000 140000 140000
 100000 108000 122000 120000 155000 215000 325000 140000 143000 100000
 142500 128000 250000 250000 239000 140000 142500 190000 110000 235000
 108000 137000 110000 127500 135000 110000 235000 145000 110000 190000
 127500 145000 110000 179900 135000 200000 140000 155000 145000 190000
 239000 135000 100000 190000 142500 235000 214000 135000 230000 143000
 250000 128000 155000 130000 250000 140000 275000 215000 325000 214000
 155000 235000 190000 140000 250000 190000 127500 214000 130000 214000
 128000 155000 100000 120000 190000 127000 120000 135000 235000 142500
 110000 215000 239000 250000 155000 120000 108000 190000 127500 155000
 140000]

In [12]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial').fit(X, y)
clf.score(X, y, sample_weight=None)

c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.01643835616438356